<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;700&display=swap");

      body {
        font-family: "Public Sans", sans-serif;
      }

      #all-subtopics table thead th {
        background: white;
        border-bottom: 1px solid black;
        cursor: pointer;
        padding-right: 20px;
        position: sticky;
        top: 0;
      }

      #all-subtopics table tbody tr:nth-child(even) {
        background: #eef;
      }

      #graph-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh 50vh;
      }

      svg {
        max-height: 45vh;
        max-width: 45vw;
      }

      svg .grid-line g.tick line {
        stroke-opacity: 0.1;
      }
    </style>
  </head>
  <body>
    {% block main %}{% endblock %}
  </body>
</html>