{% extends "parts/main.njk" %}
{% block main %}

  {% set headers = [
    {
      field: "id",
      name: "Subtopic"
    }, {
      field: "proposals",
      name: "Proposals"
    }, {
      field: "awards",
      name: "Awards"
    }, {
      field: "ratio",
      name: "Ratio"
    }
  ] %}

  <div id="all-subtopics">
    <table>
      <thead>
        <tr>
          {% for header in headers %}
            <th>
              <a href="/?sort={{header.field}}{% if sorting.desc === header.field %}&order=desc{% endif %}">{{header.name}}</a>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for subtopic in subtopics %}
          <tr>
            {% for header in headers %}
              {% if loop.first %}
                <td>
                  <strong>
                    <a href="/subtopic?id={{subtopic[header.field]}}">{{subtopic[header.field]}}</a>
                  </strong>
                </td>
              {% else %}
                <td>{{subtopic[header.field]}}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}