{% extends "parts/main.njk" %}
{% block main %}

  <h1>{{id}}</h1>
  <div id="graph-grid">
    {% for phase in subtopic.phases %}
      <div id="graph-{{phase.phase}}">
        <h2>Phase {{phase.phase}}</h2>
      </div>
    {% endfor %}
  </div>

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script type="text/javascript">
    {
      {% include "parts/subtopic.js" %}

      const subtopic = {{ subtopic | dump | safe }};
      main(subtopic);
    }
  </script>

{% endblock %}